* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(126, 248, 248);
}

.wish {
    margin: 10px;
    color: rgb(240, 100, 205);
    padding: 10px;
    font-size: 30px;
}
.I{
    color: rgb(255, 0, 0);
    padding: 10px;
    font-size: 30px;
}

.Valentines {
    margin-top: 100px;
    font-size: 75px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgb(255, 27, 198);
    color: white;
    border: none;
    transition: transform 0.5s ease;
}

.start:hover {
    transform: scale(1.2);
}

.overlay-text {
    font-size: 30px;
    color: rgb(255, 27, 198);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Transition Overlay Styles */
.transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffb7b2;
    /* Soft pink */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    transition: opacity 1.5s ease-in-out;
}

.transition-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Heart Loader Animation */
.heart-loader {
    width: 100px;
    height: 100px;
    background-color: #ff4d6d;
    transform: rotate(45deg);
    animation: heartbeat 5s infinite;
    position: relative;
    box-shadow: 0 0 40px #d90429;
}

.heart-loader::before,
.heart-loader::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #ff4d6d;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 40px #d90429;
}

.heart-loader::before {
    top: -50px;
    left: 0;
}

.heart-loader::after {
    top: 0;
    left: -50px;
}

@keyframes heartbeat {
    0% {
        transform: rotate(45deg) scale(0.8);
    }

    5% {
        transform: rotate(45deg) scale(0.9);
    }

    10% {
        transform: rotate(45deg) scale(0.8);
    }

    15% {
        transform: rotate(45deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(0.8);
    }

    100% {
        transform: rotate(45deg) scale(0.8);
    }
}
